* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    text-align: center;
}

.sous-titre{
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    text-align: center;
}

.title, .sous-titre {
    transition: transform 0.3s ease, color 0.3s ease;
}

.title:hover, .sous-titre:hover {
    transform: scale(1.05);
    color: #555;
}

.texte{

    font-size: 20px;
    color: black;
    margin-bottom: 10px;
    text-align: center;
}
@media (max-width: 768px) {
    main {
        padding-top: 10%;
    }

    .texte {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .texte {
        font-size: 16px;
    }

    .medium-image {
        width: 80%;
    }
}




body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    padding: 5%;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.top-left-image {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 5%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
    margin: 20px auto;
    max-width: 90%;
}

.center-paragraph {
    text-align: center;
    flex: 1;
}

.right-image {
    width: 20%; /* Control the image size */
    margin-left: 10px; /* Space from the paragraph */
    flex-shrink: 0;
}

.small-image {
    width: 10%; /* Control the image size */
    margin-left: 10px; /* Space from the paragraph */
    flex-shrink: 0;
    display: block;
    margin: 0 auto;
}

.medium-image {
    width: 40%; /* Control the image size */
    margin-left: 10px; /* Space from the paragraph */
    flex-shrink: 0;
    display: block;
    margin: 0 auto;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    
}

th {
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: #20867c;
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
}


a:active {
    color: red;

}

a.current-page{
    color: white
    
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

img {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}